<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<div [hidden]="hideRooms">
    Number of rooms:
    <div [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}" [innerText]="numberOfRooms">
    </div>
</div>

{{rooms.availableRooms ?? 'No rooms'}}

<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms">
    <hinv-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)">
    </hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>