<div class="container">
  <h1>Recent Posts</h1>
  <div class="posts">
    <div class="post">
      <h2 class="post-title">Post Title 1</h2>
      <p class="post-meta">By Author - Jan 1, 2025</p>
      <p class="post-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>
    <div class="post">
      <h2 class="post-title">Post Title 2</h2>
      <p class="post-meta">By Author - Jan 2, 2025</p>
      <p class="post-content">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>
</div>
